# pip-requirements file

# backup and migration requirements
Fabric
psycopg2
# flask stuff
Flask
Flask-Script
flask-wtf
flask-login
Jinja2
Paste
Pygments
Werkzeug
ipdb
ipython==0.10.2
paramiko
pycrypto
pymongo
wsgiref
Argot
lxml
simplejson
micromongo
pytz

