{% extends "base.html" %}

{% from "blog/post.html" import render_post without context %}
{% from "comments/comment.html" import render_comment without context %}
{% from "pagination.html" import show_paginator without context %}

{% block body %}
  {% set numcomments = post.comments|length %}
  <div class="blog">
    {{ render_post(post) }}

  {% if numcomments -%}
  <h3 class="numcomments">{{ numcomments }} comment{% if numcomments > 1 %}s{% endif %}</h3>
  <div class="comments">
  {% for comment in post.comments %}
    {{ render_comment(comment, 'even' if loop.index0 % 2 else 'odd') }}
  {% endfor %}
  </div>
  {%- endif %}
  </div>
{% endblock %}
