@import "lib/bootstrap.less";
@siteWidth: 800px; 

.container-fluid {
  min-width: @siteWidth;
}

#body { margin-top: 50px; }
#header { background-color: #eee; border: 1px solid #aaa; }
#sidebar { background-color: #eee; border: 1px solid #aaa; }
#content { background-color: #eee; border: 1px solid #aaa; }
