@import "lib/bootstrap.less";
@siteWidth: 800px; 

body {
  padding-bottom: 1em;
}

.input-boolean {
  .input-append;
  .add-on { .border-radius(3px); }
  .active { background: lighten(@green, 30); border-color: @green; }
}

.container-fluid {
  min-width: @siteWidth;
}
.clearfix {
  clear: both;
}

input, textarea, select {
  color: #404040;
}

.admin-list, .admin-summary {
  margin-top: 1em;
  h2 { margin-bottom: 0.25em; }
}

label.required {
  color: #222;
  font-weight: bold;
}

#body { margin-top: 50px; }
#header { }
#sidebar { border-right: 1px solid #eee; }

.container-fluid {
  .content { margin-left: 140px; }
  .sidebar { width: 120px; }
}

.content .pagination {
  margin-top: 0;
}

textarea {
  &.maximum {
    width: 100%;
    height: 300px;
  }
  &.medium {
    width: 70%;
    height: 100px;
  }
}

.label {
  &.notice { text-shadow: @blue 1px 1px 1px; }
  &.important { text-shadow: @red 1px 1px 1px; }
  &.new { text-shadow: @green 1px 1px 1px; }
  &.big {
    font-size: 12px;
    padding: 3px 5px;
  }
}
