{% import "admin/lib/widgets.html" as widgets without context %}

{% macro header() %}
  <th>#</th>
  <th>title</th>
  <th>date</th>
  <th># comments</th>
{% endmacro %}

{% macro row(post) %}
  <td><a href="{{ url_for("blog.detail", slug=post.slug) }}">{{ post.id }}</a></td>
  <td><a href="{{ url_for("admin.edit", manager="blog", module="post", id=post.id) }}">{{ post.title }}</a></td>
  <td>{{ post.timestamp|pdt }}</td>
  <td>{{ post.comments|length }}</td>
{% endmacro %}

{% macro post_list(posts, page=none) %}
  {{ widgets.list(posts, module="blog", manager="post", header_macro=header,
      row_macro=row, show_add=true, page=page) }}
{% endmacro %}

{% if posts %}
  {% call widgets.admin_list() %}
    {{ post_list(posts, page=page) }}
  {% endcall %}
{% endif %}

