<!doctype html>
<html>
  <head>
    {% set title = title or "admin" %}
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% if config.OFFLINE_MODE %}

    {% else %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    {% endif %}
    {% if config.DEBUG -%}
    <!-- debug mode less/js combo -->
    <link media="screen" rel="stylesheet/less" type="text/css" href="{{ url_for('admin.static', filename='css/admin.less') }}">
    <script type="text/javascript" src="{{ url_for('admin.static', filename='js/less.js') }}"></script>
    {%- else -%}
    <link media="screen" rel="stylesheet" type="text/css" href="{{ url_for('admin.static', filename='css/admin.css') }}">
    {%- endif -%}
    {%- block head -%}{%- endblock %}
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="{{ url_for("admin.index") }}">{{ title }}</a>
          <ul class="nav">
            {% for app in admin_manager.blueprints -%}
            <li {% if manager and manager.blueprint == app %}class="active"{% endif %}>
              <a href="{{ url_for('admin.manager', manager=app.name) }}">{{ app.name }}</a>
            </li>
            {%- endfor %}
          </ul>
          <p class="nav pull-right logged-in-as">
            logged in as <a href="#">{{ current_user.username }}</a>
          <p>
        </div>

      </div>
    </div>
    <div class="container" id="body">
      {% block layout %}
      <div class="content" id="content">
        {% block content %}{% endblock %}
      </div>
      {% endblock %}
    </div>
  </body>
</html>
