{% extends "base.html" %}

{% from "pagination.html" import show_paginator without context %}

{% block body %}
  <div class="note">
    {% filter argot -%}The website of a [web programmer](https://github.com/jmoiron), footie fan, rubbish photographer, and jack of literally some trades.
  {%- endfilter %}</div>
  <div class="stream">
  {% for entry in entries -%}
    <div class="entry {{ entry.source_tag }}">{{ entry.rendered|safe }}</div>
  {%- endfor %}
  </div>
  {% if page %}{{ show_paginator(page) }}{% endif %}

{% endblock %}
